<header>
    <a href="/" class="logo"> Coderest </a>

    <nav>
        <ul>
            <li> <a href="/upload"> Upload </a></li>
            <li> <a href=""> Mi Perfil </a></li>
            <li> <a href=""> El Tinder de Coder </a></li>
        </ul>
    </nav>
</header>