<h1> Registro de Usuario </h1>

<form action="/register" method="POST">

    <label for="username"> Nombre de Usuario </label>
    <input type="text" id="usuario" name="usuario" required>
    <br><br>

    <label for="password"> Contraseña: </label>
    <input type="text" id="password" name="password" required>
    <br><br>

    <button type="submit"> Registrarse </button>

</form>